.bottom {
  padding: 15px 0 50px;
  display: flex;
  justify-content: center;

  .row {
    padding: 0 20px;
    justify-content: start;
    text-align: start;
    border-top: 1px solid #c7c7c7;
    //
    //.footer-logo {
    //  //border-top: 1px solid #c7c7c7;
    //}

    .nav {
      text-align: start;

      .navbar-brand {
        padding-bottom: 20px;
      }

      .nav-link {
        color: $primary-color;
        font: 600 15px/1.5 $primary-font;
      }
    }
  }
}

.logo {
  padding-top: 50px;
  display: flex;
  justify-content: start;
  font: 600 24px $primary-font;

}
.footer-text,
.nav-link {
  padding: inherit;
}

.footer-text {
  margin: 20px 0 40px;
  color: #848e97;
  font: 600 14px/1.5 $primary-font
}

.address,
.info {
  margin-top: 35px;
}



.phone-number {
  color: #31384d;
  font: 30px/1 $secondary-font;
}

.mode {
  margin-bottom: 40px;
  color: #848e97;
  font: 600 12px/2.5 $primary-font;
}