header {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    font: 600 32px/2 $primary-font;
  }
}

.header-logo{
  padding: 30px 10px;
}

.company-logo-span {
  color: #8d81ac;
}

.nav-item {
  border-bottom: 1px solid #3b3b3b;

  &:nth-last-child(2){
    border: none;
  }

  &:last-child {
    padding-bottom: 40px;
  }
}

.navbar-light {

  .navbar-toggler {
    border: none;
    outline: none;
  }
  .navbar-nav {
    .row {
      width: 480px;
      justify-content: start;
    }

    .nav-link {
      padding: 15px 30px;
      color: #fff;

      &:hover {
        color: $primary-color;
      }

      &:active {
        border-left: 8px solid $primary-color;
        color: $primary-color;
      }
    }
  }
}

.navbar-light .navbar-nav .nav-link:active.social-icon {
  border: 0;
  text-align: center;
}
.nav-item {
  margin: 0 -16px;
  background-color: #333333;
  color: #fff;
}

.navbar-light .btn-sm {
  padding: 10px 35px;
  border-radius: 25px;
  border-color: $primary-color;
  background-color: $primary-color;
  font: 17px/1.5 $secondary-font;
}

.navbar-light {
  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
}

.navbar-toggler>.close {
  display:inline;

}
.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-icon {
  display:none;
}

.navbar-collapse {
  position: absolute;
  top: 110px;
}

.collapse {
  width: 100%;
}

.fab {
  color: #fff;
  font-size: 50px;
  text-align: center;

  &:hover {
    color: $primary-color;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-light {
    .collapse {
      position: relative;
      top: 0;
      justify-content: flex-end;
    }
    .navbar-nav {
      .nav-item {
        margin: 16px;
        background-color: transparent;
        font: 16px/1 $secondary-font;

        .nav-link {
          padding: 0;
          color: $primary-color;

          &:hover {
            color: #635c73;
          }

          &:active {
            border:0;
          }
        }
      }
      
      .nav-item.row {
        display: none;
      }
    }
  }

}


