.home-head {
  width: 100%;
  font-family: $primary-font;
}

.largest-header {
  margin: 10px 0;
  color: #fff;
  font: 82px/1 $secondary-font;
}

.smaller-header {
  margin: 10px 0;
  color: $primary-color;
  font-size: 24px;
}

.smallest-header {
  padding-bottom: 480px;
  margin: 10px 0;
  color: #848e97;
  font-size: 16px;
  text-transform: uppercase;
}


.home {
  justify-content: center;
  display: flex;
  padding-top: 75px;
  background: url("../img/bg-img.png") center;
}
