$primary-color:              #8d81ac;
$secondary-color:            #fff;
$tertiary-color:             #848e97;

$primary-font:               "Montserrat-SemiBold", "Helvetica", sans-serif;
$secondary-font:             "Montserrat-Bold", "Helvetica", sans-serif;
$tertiary-font:              "SSP-Regular", "Helvetica", sans-serif;
$fourth-seniority-font:      "SSP-Bold-Italic", "Helvetica", sans-serif;

$primary-font-size:          14px;
$secondary-font-size:        16px;
$tertiary-font-size:         24px;
$fourth-seniority-font-size: 21px;

$primary-line-height:        1.5;
$secondary-line-height:      2;