$primary-color:              #8d81ac;

$primary-font:               "Montserrat-Regular", "Helvetica", sans-serif;
$secondary-font:             "Montserrat-Bold", "Helvetica", sans-serif;
$tertiary-font:              "SSP-Regular", "Helvetica", sans-serif;
$fourth-seniority-font:      "SSP-Bold-Italic", "Helvetica", sans-serif;